# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# Angular / Node
**/node_modules/
**/dist/
**/.angular/
**/.vscode

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*